<% layout('layouts/boilerplate') %>
    <div class="container mb-5">
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <div class="card">
                    <img src=" https://img.lovepik.com/original_origin_pic/18/06/19/fa7aef652afdf48d95e90dd8aeee5b42.png_wh860.png"
                        class="card-img-top" alt="error picture">
                    <div class="card-body">
                        <p class="card-text lead fw-bold">
                            <%=msg%>
                        </p>
                        <p class="card-text">
                            <%=stack%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>